name: Code Lint
on:
  - push
  - pull_request

env:
  FLAKE8_FORMAT: '::error file=%(path)s,line=%(row)d,col=%(col)d:: %(code)s %(text)s'

jobs:
  lint:
    name: Lint the Code
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Python Environment
        uses: actions/setup-python@v2
        with:
            python-version: 3.8

      - name: Install Dependencies
        run: |
            python -m pip install --upgrade pip
            pip install flake8

      - name: Run Linters
        run: |
          flake8 --config .flake8 --format "$FLAKE8_FORMAT"
